/* 일반 구조 선택자(위치 기준) */

/* :first-child -> 첫 번째 위치한 요소가 맞으면 선택 */
#test1 > p:first-child{ 
  background-color: red;
  color: white;
}
/* 선택자 해석 방향을 거꾸로 하면 좀 편할지도? */


/* :last-child -> 마지막 위치한 요소가 맞으면 선택 */
#test1 > p:last-child{
  background-color: blue;
  color: white;
}


/* :nth-child(숫자) -> n번째 위치한 요소가 맞으면 선택 */

/* #test1인 요소의 자식 중 3번째 위치한 자식이 p태그가 맞을 경우 선택 */
#test1 > p:nth-child(3){
  background-color: aquamarine;
}

/* :nth-child(수열) -> 수열 번째 위치한 요소가 맞으면 선택*/

/* n == 0 이상의 양의 정수(0,1,2,3...) */
#test1 > p:nth-child(2n){
  background-color: pink;
}

/* :nth-last-child(숫자) -> 뒤에서  n번째 위치한 요소가 맞으면 선택*/
#test1 > p:nth-last-child(4){
  background-color: orange;
  font-size: 30px;
}




/* 형태 구조 선택자 */

/*
 :first-of-type
  -> 선택된 형제 요소 중 첫 번째 선택

#test2 > p:first-child{
  background-color: yellowgreen;
}
  은 미적용 이건 정상적인 방햐응로 해석하면 됨
 */
#test2 > p:first-of-type{
  background-color: yellowgreen;
}

/* :last-of-type
  -> 선택된 형제 요소 중 마지막 선택 
*/
#test2 > p:last-of-type{
  background-color: skyblue;
}

/* :nth-of-type(숫자 또는 수열)
  -> 선택된 형제 요소 중 n(0,1,2,...)번째 선택
*/
#test2 > p:nth-of-type(2n+1){
  font-size: 20px;
  font-weight: bold;
}

/* :nth-last-of-type(숫자 또는 수열)
  -> 선택된 형제 요소 중 뒤에서 n(0,1,2,...)번째 선택
*/
#test2 > p:nth-last-of-type(2){
  background-color: hotpink;
}

/* 부정 선택자 (:not) */
#test3 > li:not(:nth-child(3n)){
  background-color: pink;
}
