/* #test1{
  background-color: silver !important;
} */

/* 1순위 : !important */
div{
  background-color: lightpink !important;
  font-family: '돋움' !important;
  color: white;
}

/* 같은 우선 순위
  -> 마지막 작성된 값으로 덮어쓰기 */
div{
  background-color: gold !important;
}


/* 3순위 : 아이디 선택자 */
#test1{
  /* 낮은 우선 순위 덮어 쓰기 */
  height: 100px;
  color: red;
  background-color: skyblue;

  /* 새로 추가된 속성 */
  font-family: '궁서체';
  font-size: 24px;
}

/* 4순위 : 클래스 선택자 */
.cls1{
  background-color: green;
  color: white;
}

/* 5순위 : 태그 선택자 */
div{
  width: 200px;
  height: 200px;
  background-color: yellow;
}

/* css 속성이 겹치치 않으면 모두 반영 */
div{
  border: 1px solid black;
}

/* 같은 선택자, 같은 CSS 속성 작성 시
마지막에 작성된 내용으로 덮어쓰기 */
div{
  background-color: #cccccc;
}


