/* 클래스 기반 CSS 
  - css 파일에 미리 클래스 선택자를 이용해
    특정 클래스를 지닌 요소에 적용할 css 스타일을 미리 작성
*/

.area1{ background-color: red; }
.area2{ background-color: orange; }
.area3{ background-color: yellow; }
.area4{ background-color: green; }
.area5{ background-color: blue; }

.box{
  width: 150px;
  height: 150px;
  color: white;
  border: 1px solid black;
}

/* display 변경 속성 */
.block       { display: block; }
.inline      { display: inline; }
.inline-block{ display: inline-block; }
.none        { display: none; }



.hidden      { visibility: hidden;}
