*{
  box-sizing: border-box;
  
  /* 
  width/height 설정 시
    설정된 값이 content + padding + border 크기를'
    합산한 결과가 되도록
    content 영역의 크기를 자동으로 조정
  */
}

.box{
  width: 200px;
  height: 200px;
  background-color: deepskyblue;
}

/* border(테두리) */
.border{
  /* border : 두께 스타일 색상 
    -> 요소 4 방향 [ 네 방향에 모두 적용
  */
  border: 10px solid black;

}


/* content(내용) */
.content{
  width: 150px;
  height: 150px;
  box-sizing: content-box; 
  /* width/height 설정 값이 content에만 적용 */
}



/* padding (채우기) */
.padding{
  padding: 20px;
  /* content - border 사이에 20px 만큼의 공간 생성(네방향) */
}


/* margin(여백, 간격) */
.margin-1{
  margin: 50px; /* 상하좌우 다른 요소와 50px 만큼 간격을 설정 */
}

.margin-2{
  margin: 100px; /* 상하좌우 다른 요소와 100px 만큼 간격을 설정 */
}



/* 방향 테스트 */
.test1{
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;


  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 70px;
  margin-left: 90px;


  /* border-방향 : 크기 스타일 색상 
     스타일 : solid(실선), dotted(...), dashed(--),
              double(이중 실선), inset(음각 파여져 들어감), outset(양각 튀어나와 있음)
  */

  border-top: 5px dotted red;
  border-right: 10px dashed blue;
  border-bottom: 7px double black;
  border-left: 15px outset gray;
}



/* 크기 한 번에 지정 */
.test2{
  padding: 10px 20px 30px 40px;


  margin: 50px 100px 150px 200px;


  border-width: 20px 30px 40px 50px;
}



/* margin : auto 확인하기 */
.container{
  width: 400px;
  height: 400px;
  border: 3px solid black;
}

.test3{
  margin : auto;

  /* text-align
   - 요소 내부에 작성된 글자(또는 inline 요소)를 정렬하는 속성 
   */
  text-align: center;
}

.test3 > span{
  margin : auto; 
  /* inline 요소는 적용 X -> text-align 사용*/
}