.flex-container{
  height: 800px;

  /* 내부 요소(item)을 
     유연하게 배치하겠다 */
  display: flex;

  /* 감싸는 요소(flex-container)가 display : flex 로 지정된 경우 
    바로 아래 자식 요소(item)들의 
    display : block, inline, inline-block의 특징을 모두 잃고
    중심축 방향에 맞게 정렬 + 크기 지정이 가능한 상태가 됨
  */


  /* flex-direction : 중심축 방향을 지정하는 속성 
    -> item은 중심축 방향에 맞게 배치된다!!!
  */

  /* 기본값 */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  /* justify-content : 중심축 방향 item 정렬 지정 */

  /* 기본값 */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */

  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  justify-content: space-between;
  
  /* align-items : 교차축 방향으로 item 묶음 정렬 */

  /* 기본값 */
  /* stretch : item을 교차축 방향으로 늘림림 
       단, 교차축 방향으로 크기 지정이 없을 경우만 해당당
  */
  /* align-items: stretch; */
  /* align-items: flex-end; */
  /* align-items: center; */

  /* 글자가 한 라인에 배치되도록 item 위치 수정 */
  align-items: baseline;
}

.item2{padding: 5px;}
.item3{padding: 10px;}
.item4{padding: 15px;}
.item5{padding: 20px;}