*{
  box-sizing: border-box;
  margin: 0; /* 다른 요소와의 간격 */
  padding: 0; /* content, border 사이 간격 */
}

div{
  border: 1px solid black;
}

h1, h3{
  margin: 10px 0; /* 상하 / 좌우 */
  text-decoration: underline;
}




/* 상하 2분할 */
.container-1{
  width: 500px;
  height: 600px;
  margin: 20px;
}

.container-1 > div{
  width: 100%; /* 부모 너비 100% == 500px */
  height: 50%; /* 부모 높이 50% == 300px */
}

.container-1 > div:first-child{
  background-color: yellowgreen;
}

.container-1 > div:last-child{
  background-color: skyblue;
}


/* 세로 방향 3분할 */
.container-2{
  width: 300px;
  height: 432px;
  margin: 20px;
}

/*
  div -> display : block;
  == 한 행을 모두 차지 
  == width : 100%가 기본 값
*/
.container-2 > div:nth-child(1){
  height: 50%;
  background-color: blue;
}

.container-2 > div:nth-child(2){
  height: 30%;
  background-color: green;
}

.container-2 > div:nth-child(3){
  height: 20%;
  background-color: red;
}



/* 가로 방향 2분할 */
.container-3{
  width: 400px;
  height: 200px;
  margin: 20px;

  /* 내부 요소(item)을 유연하게 배치, 정렬하겠다고 지정하는 속성 */
  display: flex;

  /* 중심축 방향을 row(왼쪽 -> 오른쪽) */
  flex-direction: row;
}

.container-3 > div{
  width: 50%;
  height: 100%;

  /* display: inline-block; */
  /* 
  inline, inline-block : 글자취급 
  -> 띄어쓰기, 엔터가 중간에 포함되어
  요소가 원하는대로 배치되지 않을 수 있다
  */

}

.container-3 > div:nth-child(1){
  background-color: pink;
}

.container-3 > div:nth-child(2){
  background-color: black;
}

/* 가로 방향 5분할 */
.container-4{
  width : 600px;
  height: 100px;
  margin : 20px;
  display: flex;
  flex-direction: row; /* 기본 값이라서 안써도 무방 */

  align-items: stretch; /* 교차축 정렬 기본값 == height : 100% */
}

/* 홀수 번째 요소(1,3,5) */
.container-4 > div:nth-child(2n+1){
  width: 35%;
  background-color: gray;

  height: 100%; /* 교차축 정렬 기본값 ==  align-items: stretch*/
}

/* 짝수 번째 요소(2,4) */
.container-4 > div:nth-child(2n){
  width: 10%;
  background-color: aquamarine;
}



/* ⊞ 모양 만들기 */
.container-5{
  width : 500px;
  height: 500px;
  margin : 20px;
}

/* 행 분할 */
.container-5 > .row{
  width: 100%; /* div는 block 형식 요소 == width가 기본 100% */
  height: 50%;
  display: flex;
  flex-direction: row; /* 기본값*/

  align-items: stretch; /* item이 교차축 방향을 꽉 채우도록 늘어남남 */
}

/* 열 분할 */
.container-5 .col{
  width: 50%;
  height: 100%; /* 기본값*/
}

